.cards{
  display: flex;
  flex-direction: row;
  width: 920px;
  flex-wrap: wrap;
  gap: 60px 100px;
  padding: 0;
  margin: 60px auto;
  margin-bottom: 0;
  text-align: center;
  list-style-type: none;
}